@model EmpresaModel
@{
    ViewData["Title"] = "Empresa";
}

<div class="container">
    <div class="row">
        <div class="text-center">
            <h4 class="display-4">Dados da Empresa</h4>
        </div>
        <div class="p-5 mb-4 alert-light rounded-3">
            <form asp-action="Cadastrar" class="row g-3">
                <div class="col-12">
                    <label for="Codigo">Código:</label>
                    <input type="text" class="form-control" id="Codigo" asp-for="Codigo" placeholder="Código da Empresa" required="">
                    <div class="invalid-feedback">Campo obrigatório.</div>
                </div>

                <div class="col-12">
                    <label for="Nome">Nome:</label>
                    <input type="text" class="form-control" id="Nome" asp-for="Nome" placeholder="Nome" required="">
                    <div class="invalid-feedback">Campo obrigatório.</div>
                </div>

                <div class="col-md-12">
                    <label for="NomeFantasia">Nome Fantasia:</label>
                    <input type="text" class="form-control" id="NomeFantasia" asp-for="NomeFantasia" placeholder="Nome Fantasia" required="">
                    <div class="invalid-feedback">Campo obrigatório.</div>
                </div>

                <div class="col-md-12">
                    <label for="CNPJ">CNPJ:</label>
                    <input type="text" class="form-control" id="CNPJ" asp-for="CNPJ" placeholder="CNPJ" required="">
                    <div class="invalid-feedback">Campo obrigatório.</div>
                </div>

                <input type="submit" value="Cadastrar" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>


