@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="col-md-12">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Academia Trainee VIXTEAM</h2>
            <p>Aplicativo Web desenvolvido durante a Academia Trainee da VIXTEAM.</p>
            <button class="btn btn-outline-light" type="button" onclick="alert('Você clicou no botão do Jumbotron.');">Mais informações</button>
            <a class="btn btn-outline-light" href="Home/Privacy">Privacidade</a>
        </div>
    </div>
</div>
